*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #FF4800;
$accent: #4E4E91;
$dark-text: #1A1A3F;
$light-text:  #555555;

$font-size: 16px;

:root {
    font-size: $font-size;
}

body{
    font-family: "Roboto", sans-serif;
    padding-top: 50px;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    min-width: 80%;
}


.logo {
    width: 50%;
}

#logo{
    width: 133px;
    height: 50px;
}

.navbar{
    transition: all 300ms ease-in-out;

}

.navbar-nav{
    display: flex;;
    column-gap: 40px;
}


.nav-link {
    color: $accent;
    font-size: 1rem;
    transition: color 300ms;
}

.nav-link:hover{
    color: $accent 0.5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: #000;
    margin: 5px 0;
    transition: all 300ms ease-in-out;
}

.nav--open{
    transform: translate(0) !important;
}

.hamburger--open {

    .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
     opacity: 0;
    }

    .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


.buy-button {
    background-color: $primary;
    border: none;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
    margin-left: 50px;
}

.main {
    width: 100%;

}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.content{
    display: flex;
    flex-direction: column;
    margin: 150px 0;
    width: 30%;
    row-gap: 30px;
}

.main-title {
    font-size: 3rem;
    color: $dark-text;
}

.hero-text {
    font-size: 1rem;
    line-height: 1.5;
    color: $light-text;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buy-button-mobile{
    width: 25%;
    margin: 0;
    display: none;
}

.email-input{
    padding: 10px 20px;
    width: 70%;
    border: 3px solid #E5E5E5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sign-up-button {
    width: 25%;
    border: none;
    background-color: $accent;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 5px;
}

.hero-img {
    width: 70%;
    /* height: 400px; */
}


.devider {
    display: flex;
    justify-content: center;
    background-color: #E8EBF3;
    width: 100%;
    padding: 10px 0;
}

.devider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    
}

.devider-img{
    width: 15%;
    max-width: 220px;
}

.payment-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 40px 0;
    row-gap: 20px;
}

.payment-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    row-gap: 20px;
}

.payment-desc {
    font-size: 1rem;
    color: $light-text;
    line-height: 1.7;

}

.payment-title {
    font-size: 2rem;
    color: $dark-text;
}

.payment-box-wrapper{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 70%;
}

.payment-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 30px 20px 20px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 11px 23px 8px rgba(0,0,0,0.1);
}

.box-icon{
    position: absolute;
    top: -25px;
    background-color: $accent;
    padding: 23px;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.steps {
    font-size: 1rem;
    font-weight: 800;
}

@media (max-width: 1200px) {
    .header-content {
        width: 970px;
    }

    .devider-wrapper {
        width: 90%;
    }
}

@media (max-width: 990px) {
    .header-content {
        width: 750px;
    }
    
    .nav-link{
        font-size: 0.8rem;
    }
    
    .hero-wrapper{
        flex-direction: column-reverse;
    }

    .content {
        margin: 0;
        width: 90%;
        margin-bottom: 50px;
    }

    .hero-img {
        height: 300px;
    }

    .login{
        flex-direction: column;
        row-gap: 10px;
    }



    .sign-up-button{
        padding: 15px;
        min-width: 110px;
    }


    .devider-wrapper {
        width: 90%;
        flex-wrap: wrap;

    }

    .devider-img {
        width: 50%;
    }

    .payment-wrapper {
        width: 90%;
        margin: 0 auto;
        margin-top: 90px;
    }

    .payment-text {
        width: 70%;
    }
}


@media (max-width: 768px) {

    .header-content {
        width: 90%;
    }

    .navbar {
        position: fixed;
        top: 35px;
        left: 0;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(100%);
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        row-gap: 17px;
        background-color: #fff;
        padding: 20px;
    }

    .hamburger {
        display: block;
    }

    #buy-button-desktop {
        display: none;
    }

    .main-title {
        font-size: 2rem;
    }

    .hero-wrapper{
        width: 100%;
    }

    .email-input{
        min-width: 100%;
    }

    #buy-button-mobile {
        display: block;
        min-width: 110px;
    }

    .payment-text {
        width: 90%;
    }

    .payment-box-wrapper {
        align-items: center;
        flex-direction: column;

    }
}

@media (max-width: 550px) {
    .hero-img {
        width: 90%;
        height: 200px;
        margin: 20px;
    }

    .payment-box {
        width: 60%;
    }
}

@media (max-width: 400px) {
    .hero-img {
        height: 150px;
    }

    .payment-box {
        width: 80%;
    }
}